@import "src/assets/style/variables";


.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2%;
  padding: 20px;
}

.product-item {
  width: 15%;
  padding: 10px;
  margin: 0 0 20px;
  height: 200px;
  transition: $transition;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: black;
  color: #ff8562;
  background-color: #f2f2f3;

  p {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  @media screen and (max-width: 1135px){
    width: 19%;
  }
  @media screen and (max-width: 812px){
    width: 24%;
  }
  @media screen and (max-width: 585px){
    width: 32%;
  }
  @media screen and (max-width: 437px){
    width: 49%;
  }

}

.product-img {
  width: 70%;
  height: 60%;
  margin: 0 auto;
  border-radius: 10px;
  //@media screen and (max-width: 1135px){
  //  width: 50%;
  //}
  //@media screen and (max-width: 812px){
  //  width: 40%;
  //}
  //@media screen and (max-width: 585px){
  //  width: 30%;
  //}
  //@media screen and (max-width: 437px){
  //  width: 20%;
  //}
}