
$black:#000000;
$white:#FFFFFF;
$blue:#4D4DFF;
$openRed:#e65471;
$darkRed:#DC143C;
$transition:.3s;
$fontSize25:25px;
$fontSize20:20px;
$fontSize40:40px;
$fontSize30:30px;

$lineHeight:40px;
$oldlace:oldlace;
$oldlaceHover:#c5c3c3;
$font-size-16:16px;


