@import "src/assets/style/variables";
#opinions{
  position: relative;
  width: 100%;
  height: 100%;
}


.opinions-container{
   display: flex;
  justify-content: center;
  align-items: center;
}
.opinions-iframe{
   width: 700px;
  height: 500px;
  margin: 0 auto;
}