@import "src/assets/style/variables";
#opinions{
  position: relative;
  width: 100%;
  height: 100vh;
}
.opinions-fon{
   width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

}
.opinions-logo{
  position: absolute;
  left: 40px;
  img{
    width: 80px;
    object-fit: cover;
    height: 100px;
  }
  @media screen and (max-width: 485px){
     display: none;
  }

}
.opinions-container{
  padding: 10px;
   margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.opinions-container > :not(:last-child){
   margin: 0 0 20px;
}
.opinions-title{

  p{
     color: white;
    font-size: $fontSize25;
  }
}
.opinions-body{
   max-width: 70%;
   width: 100%;
  height: 500px;
  background-color: $white;
  color: $black;
  padding: 20px;

  @media screen and (max-width: 485px){
    max-width: 100%;
  }
}
.opinions-body > :not(:last-child){
   margin: 0 0 20px;
}
.opinions-header{
   display: flex;
  justify-content: space-between;

  h3{
     font-weight: bold;
  }
}
.reviews-block{
   display: flex;

  h3{
     font-size: $fontSize25;
  }
}
.opinions-button{
   padding: 10px;
   background: oldlace;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button{
     padding: 10px 10px ;
    background: aqua;
    border-radius: 10px;
    transition: $transition;
    color: $black;
    &:hover{
       background: $blue;
    }

  }
}
.users-info{
  display: flex;
  gap: 10px;
  align-items: center;
   img{
      width: 40px;
     height: 40px;
     border-radius: 50%;
   }
}
.users-description{
   margin-top: 20px;
}
.more-opinions-button{
  button{
    padding: 10px 10px ;
    background: aqua;
    border-radius: 10px;
    transition: $transition;
    color: $black;
    &:hover{
      background: $blue;
    }

  }
}
.more-opinions-button{
   display: flex;
  justify-content: center;

}