@import "src/assets/style/variables";
.categories-block {
  display: flex;
  gap: 1.2%;
  flex-wrap: wrap;
  margin-top: 30px;
}

.categories-item{
   width: 15%;
  margin: 0 0 20px;
  height: 200px;
  padding: 10px;
  transition: $transition;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-color: black;
  color: $openRed;




  p{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1135px){
     width: 19%;
  }
  @media screen and (max-width: 812px){
    width: 24%;
  }
  @media screen and (max-width: 585px){
    width: 32%;
  }
  @media screen and (max-width: 415px){
    width: 49%;
  }
  @media screen and (max-width: 337px){
    width: 100%;
  }

}
.categories-img{
   width: 70%;
  height: 100%;
  border-radius: 10px;

}


