@import "src/assets/style/variables";

#contact {
  height: 100%;
  width: 100%;
  position: relative;
}

.contact-image {
  width: 100%;
  height: 100%;



}
.contact-title{
  h3{
    color: $openRed;
    font-size: $fontSize25;
  }
}


.contact-container {
  padding: 70px 0 0 ;
  display: flex;
  justify-content: space-between;

  p{
    color: white;
    font-size: $fontSize25;
    line-height: $lineHeight;
    max-width: 500px;
  }
  @media screen  and (max-width: 1075px){
     flex-direction: column;
  }
}

.contact-information > :not(:last-child){
   margin: 0 0 30px;
}

.contact-number{

  a{
     text-decoration: underline;
    padding: 20px 0 0;
    color: $white;
    font-size: $fontSize25;

    @media screen  and (max-width: 899px){
      padding: 0;

    }
  }
  @media screen and (max-width: 1046px) {
   padding: 10px 0 0;
  }
}

.contact-icons{
  display: flex;
  justify-content: center;
  @media screen  and (max-width: 1075px){
    justify-content: flex-start;

  }
}
.icons-list{
  display: inline-flex;
  list-style: none;

  .icon{
    position: relative;
    background: $openRed;
    border-radius: 50%;
    padding: 15px;
    margin: 20px;
    font-size: $fontSize25;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68 ,0.55,0.265,1.55);//urish xaxerova ashxatum

  }

  .tooltip{
    position: absolute;
    top: 0;
    font-size: $font-size-16;
    background: aqua;
    border-radius: 20px;
    color: black;
    padding: 5px 8px;
    box-shadow: 0 10px 10px rgba(0.68 ,0.55,0.265,1.55);
    opacity: 0;
    transition:  0.5s cubic-bezier(0.68 ,0.55,0.265,1.55);//esim inch chi

  }

  .icon:hover .tooltip{
    top: -45px;
    opacity: 1;


  }

  .whatsapp:hover,
  .whatsapp:hover .tooltip {
    background: #18cb18;
  }

  .telegram:hover,
  .telegram:hover .tooltip {
    background: #7575f1;
  }

  .vk:hover,
  .vk:hover .tooltip {
    background: aqua;
  }

}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 0.5rem;
    border: 2px solid ;
    color: black;


}

}
.contact-icons{
.icons-list{

  li{
    @media screen and (max-width: 400px) {
      padding: 10px;
      margin: 10px;
    }

}

}

}



