@import "src/assets/style/variables";

#home {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;


}
.home-menu-bg{
   background: black;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.home-description {
  display: flex;
  flex-direction: column;
  height: 100%;


}

.home-description-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p {
    cursor: pointer;
    color: $openRed;
    line-height: $lineHeight;
    font-size: $fontSize40;
    margin-top: 40px;

    @media screen and (max-width: 753px) {
      margin-top: 70px;

    }
  }
}


.home-title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;


  h3 {
    color: $openRed;
    margin-top: 40px;
    font-size: $fontSize40;
    letter-spacing: 1px;
    max-width: 400px;
    line-height: $lineHeight;
    font-weight: bold;


  }


}


.home-logo-block {
  max-width: 500px;
  border-radius: 40px;
  position: relative;

}

.home-logo-text, .logo-text {

  h3 {
    color: white;
    font-size: $fontSize40;
    letter-spacing: 2px;
    line-height: $lineHeight;
    padding: 0 0 20px;
    max-width: 400px;
    font-weight: 700;


  }

  span {
    color: $openRed;
  }

  p {
    color: white;
    font-size: $fontSize30;
    letter-spacing: 2px;
    line-height: $lineHeight;
    padding: 20px 0 20px;
    max-width: 400px;
    font-weight: 600;


  }
}

.home-logo-text {
 flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.home-logo {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  z-index: 3;

  img {
    width: 50px;
    height: 50px;


  }

  h1 {
    color: $white;
    font-size: $fontSize40;

    a {
      color: $white;
    }

  }

  span {
    color: $openRed;
  }

}
.header-contact {
  padding: 0 15px 0 0 ;

  a {
    color: white;
  }

  @media screen and (max-width: 1043px) {
    display: none;
  }
}