@import "src/assets/style/variables";

#home {
  margin-top: 70px;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;


}

.home-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;


}

.home-description-info {
  height: 400px;

  h3 {
    color: $openRed;
    font-size: $fontSize40;
    letter-spacing: 1px;
    max-width: 400px;
    line-height: $lineHeight;
    font-weight: bold;


  }

}


.home-logo-text {
  max-width: 500px;
  padding: 20px;
  border-radius: 40px;
  h3 {
    color: white;
    font-size: $fontSize25;
    letter-spacing: 2px;
    line-height: $lineHeight;
    text-transform: uppercase;

  }

  span {
    color: $openRed;
  }
}