@import "src/assets/style/variables";

.header-section {
  background: black;
  width: 100%;
  height: 70px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.header-logo {
  max-width: 300px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    width: 50px;
    height: 50px;

    @media screen  and (max-width: 464px){
   display: none;
    }
  }

  h1 {
    color: $white;

    a {
      color: $white;
    }

  }

  span {
    color: $openRed;
  }

}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-contact {

  a {
    color: white;
  }

  @media screen and (max-width: 928px) {
    display: none;
  }
}

.burger-btn {
  display: none;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;

  @media screen and (max-width: 928px) {
    display: block;
  }

  span{
    position: absolute;
    top: 14px;
    width: 40px;
    background: $white;
    height: 3px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 40px;
    background: $white;
    height: 3px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 40px;
    background: $white;
    height: 3px;

  }
}