@import "src/assets/style/variables";

#about{
   background: $black;
  height: 100%;
  width: 100%;

  position: relative;
  @media screen and (max-width: 772px){
    height: 100%;
  }
}



.about-content{
   display: flex;
  justify-content: space-between;
  padding: 0  0 20px;
  @media screen  and (max-width: 1000px){
     flex-direction: column;
  }
}
.just-title,.discount-title{
   h3{
     color: $openRed;
     font-size: $fontSize20;
     text-align: center;

   }
}


.justUs-block{
    margin-top: 80px;
  width: 100%;

}


.just-item{
 display: flex;
  h3{
     font-weight: bold;
    font-size: $fontSize20;
    color: white;
    letter-spacing: 1px;
    @media screen  and (max-width: 942px){
      max-width: 600px;
    }
    @media screen  and (max-width: 604px){
      max-width: 400px;
    }
    @media screen  and (max-width: 449px){
      text-align: center;
    }

  }
  p{
    color: #938a8a;
    letter-spacing: 1px;

    @media screen  and (max-width: 942px){
      max-width: 600px;
    }
    @media screen  and (max-width: 604px){
      max-width: 400px;
    }
    @media screen  and (max-width: 449px){
      text-align: center;
    }
  }
}
.just-item-img{
  padding: 20px;

  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
  }
  @media screen  and (max-width: 449px){
     display: none;
  }


}
.justUs-block > :not(:last-child){
  margin: 0 0 20px;
}
.just-items > :not(:last-child){
   margin: 10px 0 30px;
}
.just-item-description > :not(:last-child){
  margin: 10px 0 10px;
}
